@import '../sass/utils/vars';
@import '../sass/components/header';
@import '../sass/components/hero';
@import '../sass/components/studio';
@import '../sass/components/portfolio';
@import '../sass/components/modal';
@import '../sass/components/footer';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0;
}

body {
    color: var(--primary-text-color-);
    font-family: 'Roboto', sans-serif;
}

.footer-address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--accent-color);
    }

    &:focus {
        color: var(--accent-color);
    }
}

// a:hover {
//     color: var(--accent-color);

// }

// a:focus {
//     color: var(--accent-color);
// }

button {
    cursor: pointer;

    &:hover {
        background-color: var(--accent-color);
        color: var(--button-color);
    }

    &:focus {
        background-color: var(--accent-color);
        color: var(--button-color);
    }
}

// button:hover {
//     background-color: var(--accent-color);
//     color: var(--button-color);
// }

// button:focus {
//     background-color: var(--accent-color);
//     color: var(--button-color);
// }

.container {
    margin-left: auto;
    margin-right: auto;
    // width: 1200px;
    padding-left: 15px;
    padding-right: 15px;


    @media screen and (min-width:480px) {
        width: 480px;
    }

    @media screen and (min-width:768px) {
        width: 768px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
    // outline: 2px solid tomato;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;

    // @media screen and (max-width:1199px) {
    //     padding-top: 60px;
    // }
}

img {
    display: block;


}