:root {
    --accent-color: #2196F3;
    --primary-text-color-: #212121;
    --text-color: #757575;
    --background-color: #F5F5F5;
    --background-footer: #2F303A;
    --button-color: #FFFFFF;
    --white-color: #FFFFFF;
    --background-btn-filters: #F5F4FA;
    --background-color-item: #F5F4FA;
}